<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="X_Masputer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <X_Masputer.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EfficientAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentSpeedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </X_Masputer.Properties.Settings>
    </userSettings>
</configuration>